<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.heuristicexception.mapper.db2.UmsSendHistoryMapper">
    <insert id="insertUmsHistory" parameterType="com.example.heuristicexception.domain.ApprovalRequest">
        INSERT INTO ums_send_history (approval_id, phone_number, message)
        VALUES (#{approvalId}, #{phoneNumber}, #{message})
    </insert>
</mapper>
